* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Arial, sans-serif;
}
ul, ol {
    padding: 0px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/***** HEADER *****/
header {
    background-color: #1A1A1A;
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: flex;
    margin: 0px 20px;
}
header nav li {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 24px;
    margin: 10px;
    color: #CB6CE6;
    transition: transform 0.5s ease; 
}
header nav li:hover {
    transform: scale(1.05);
  }
#logomusify {
    height: 50px;
    margin: 0px 15px;
}
/***** HEADER *****/

/***** FOOTER *****/
footer {
    height: 90px;
    border-radius: 15px ;
    background-color: #1A1A1A;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#footerlist {
    display: flex;
    justify-content: center;
}
.footeritems {
    margin: 0px 10px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    color: #CB6CE6;
    display: flex;
    align-items: center;
}
/***** FOOTER *****/

/***** HOME *****/
body {
    background-color: #222222;
}
section.home-section {
    margin: 10px 15px;
}
section.home-titulo-listados{
    background-color: #1A1A1A;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 5px 0px;
    color: white;
}
section.home-listado{
    display: flex;
    flex-wrap: wrap;
    background-color: #1A1A1A;
    border-radius: 15px;
    padding: 15px;
}
article.home-article{
    margin: 10px;
    background-color: #CB6CE6;
    border-radius:  0px 0px 15px 15px;
    transition: transform 0.5s ease;
}
/***** HOME *****/

article.home-article:hover {
    transform: scale(1.05);
  }
.link-color{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.home-texto{
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
}
/***** HOME *****/

/***GENEROS***/
h2.generos-h2{
    color: white;
}
a.generos-titulo{
    color: white;
}
section.genres-section {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
section.listado-generos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1A1A1A;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
}
/***GENEROS***/

/***DETALLES***/
section.detalles-informacion{
    background-color: #1A1A1A;
    border-radius: 15px;
    margin: 10px 15px;
}
article.detalles-article-informacion{
    display: flex;
    padding: 15px;
    color: white;
}
.detalles-generos{
    margin:  0px 100px;
}
/***DETALLES***/