* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
ul, ol {
    padding: 0px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/***** HEADER *****/
header {
    background-color: #1A1A1A;
    margin: 15px 15px 0px 15px;
    border-radius: 15px;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0px 20px 0px;
}
header nav li {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 30px;
    margin: 10px;
}
header nav a {
    color: #CB6CE6;
}
#logomusify {
    height: 100%;
    margin: 0px 15px 0px;
}
/***** HEADER *****/

/***** FOOTER *****/
footer {
    height: 90px;
    border-radius: 15px ;
    background-color: #1A1A1A;
    margin: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
#footerlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footeritems {
    margin: 0px 10px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    color: #CB6CE6;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/***** FOOTER *****/

/***** HOME *****/
body {
    background-color: white;
}
section.home-section {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
section.home-listado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1A1A1A;
    border-radius: 15px;
    padding: 5px;
}
article.home-article-artistas {
    background-color: grey;
    border-radius: 15px;
    padding: 13px;
}
/***** HOME *****/
